{% extends 'base_template.html'%}
{% load learning_tags %}
{% block title %} Télécharger le document {% endblock %}

{% block content %}

 <!--  javaScrit start -->

    <script>
        //afficher la comment form
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#downloading-msg').style.display = 'none';

            document.querySelector('#download-btn').onclick = function () {


                document.querySelector('#downloading-msg').style.display = 'block';


            }

        })

    </script>


    <!-- javaScript end -->

<br>

{% if document %}


<div class="container details">

    <div class="bg-secondary">
        {% autoescape off %}
        {{ document.overview|truncatewords:60 }} {% endautoescape %}
    </div>

    <div class="bg-white">

        <h1>{{ document.title }}</h1>
      <b>Format : {{ document.doc_format}}</b><br><br>
      <b>Pages : {{ document.pages_number }}</b><br><br>
      <b>Taille : {{ document.doc_file.size|sizify }} </b><br><br>
       <b> Prix : {{ document.price }} $ </b><br>
       <br>

      {% if user.is_authenticated %}
      <a href="{% url 'add-to-cart' document.slug %}">
          <button class="btn btn-success">
              Ajouter dans le panier
          </button>
        </a>
      {% else %}
     <!-- <a href="/media/{{ document.doc_file }}" download="{{document.doc_file}}"><button id="download-btn"> Download now </button> </a>
<br><br><div id="downloading-msg"> Téléchargement</div> -->
    <a class="text-primary" href="{% url 'login' %}">Connectez-vous</a> puis revenez continuer
    {% endif %}
    </div>
    <br>
    <hr>

</div>
{% endif %}

{% endblock %}