{% extends 'base_template.html'%}
{% load learning_tags %}

{% block title %} Liste des documents{% endblock %}
{% block content %}


    <h1>
        Liste des documents
    </h1>

    <table class="documents-list">
        <thead style="font-weight:bold;">
            <td>Titre</td><td>Format</td><td></td>
        </thead>
        {% for document in documents %}

        <tr class="doc-tr">
          <td style="text-align:left;"><a href="{% url 'doc-details' document.slug %}">{{document.title}}</a></td>
         <td style="text-transform:uppercase;">{{ document.doc_format}}</td><td style="text-align:right;"> <button><a href="{% url 'doc-details' document.slug %}"> Download </a></button></td></tr>
        {% endfor %}

    </table>



{% endblock %}


{% block aside %}
    <div>

        <ul>

            <h3>
                COURS
            </h3>

            <li><b><a href="{% url 'english-lessons' %}">Cours d'anglais</a></b></li>

            <li><b><a href="{% url 'maths-lessons' %}">Cours de Maths</a></b></li>

            <br>

        </ul>

    </div>

{% endblock %}