 <!DOCTYPE html>
 <html>
 <head>
     <title> Avant activation de votre compte </title>
 </head>


 <body>

     <header style="text-align:center;font-size:36px;color:white;background-color:rgb(70, 20, 60);"> Modern Learning Group</header>

<section>
    <br>

    <div style="height:400px;background-color:lightgray;">
    <p style="font-size:28px"> Ok {{ first_name }}, un lien vous est envoyé à votre adresse email. Allez-y pour confirmer l'enregistrement de votre compte.</p>
    </div>

 </section>
 </body>

 </html>