{% extends 'base_template.html' %}

{% block title %} Page d'accueil {% endblock %}

{% block content %}

<div class="mlg-home">

  <div>
    <!-- <img src="media/images/english-maths.png" /> -->
   {% if home_cover_image %}
    <img src="{{ home_cover_image.image.url }}" />
   {% endif %}
  </div>


</div>

<br/><br/>

<p style="float:left;font-weight:bold;margin-left:10px;">
  Découvrez <a href="{% url 'cours' %}">nos cours</a> et <a href="{% url 'articles'%}">nos articles</a> ...
</p>
<br><br>

{% if articles %}
<br>
<div class="nosarticles">


            {% for article in articles %}

            <div class="article">

                {% autoescape off %}
                <div>
                    <img src="{{article.photo.url}}" alt="photo" />
                </div>
               <br> <span class="categorie">{{ article.categorie }} </span> <br>
                <a href="{% url 'article-details' article.slug %}">
                    <b><span class="title">{{article.title}}</span></b></a> <br>


                <a href="{% url 'article-details' article.slug %}">{{article.topic|truncatewords:15}}</a>
             {% endautoescape %}

            </div>

            {% endfor %}
        </div>
  {% endif %}



<a href="{% url 'articles' %}">Voir plus d'articles</a><br>


{% endblock %}



{% block aside %}
<aside>
<div class="aside-main-divs">

  <div class="aside-header-div">
    <h4>
      NOS COURS
    </h4>
  </div>
  <ul>
    <li><b><a href="{% url 'english-lessons' %}">Anglais</a></b></li>

    <li><b><a href="{% url 'maths-lessons' %}">Maths</a></b></li>

    <li><b><a href="{% url 'cs-lessons' %}"> Informatique <br/>(Programmation) </a></b></li>

    <!-- <li><b><a href="#!"> Géosciences </a></b></li> -->

    <br>
  </ul>
</div>


<div class="aside-main-divs">
  <div class="aside-header-div">
    <h4>
      ARTICLES RECENTS
    </h4>
  </div>
  <ul>
    {% for article in articles %}

    <li><b><a href="{% url 'article-details' article.slug %}">{{article.title}}</a></b></li> <br>

    {% endfor %}
  </ul>
  <br>

</div>


<div class="aside-main-divs">
  <div class="aside-header-div">
    <h4>
      DOCUMENTS RECENTS
    </h4>
  </div>
  <ul>
    {% for document in documents %}
    <b><li><a href="{% url 'doc-details' document.slug %}">{{document.title}}</a></li></b> <br>

    {% endfor %}
  </ul>
  <br>

</div>


{% if user_articles %}
{{ user_articles }}
{% endif %}

</aside>

{% endblock %}
