{% extends 'base_template.html' %}

{% block titre %} Connexion {% endblock %}

{% block content %}

<section>

    <span style="color:violet;">{{ auth }}</span>

    {% if login_msg %}
    <span class="success-msg" style="color:green;">{{ login_msg }}</span>
    {% endif %}

    {% if modif %}

    <span class="success-msg" style="color:green;">{{ modif }}</span>

    {% endif %}

    <center>
        <span style="color:violet">{{authen}}</span>
        <!-- <span style="color:green">{{msl}}</span> -->
        <h1>
            Connectez-vous
        </h1>

        {% if login_failure_msg %}
        <span class="failure-msg" style="color:red;font-size:14px;">{{login_failure_msg }}</span>

        {% endif %}



        <fieldset class="login-form-fieldset">

            <form action="{% url 'login'%}" method="POST" class="login-formf">

                {% csrf_token %}
                <div class="login-form">

                    <div>
                        Nom d'utilisateur:
                    </div>

                    <div>
                     <input type='text' name='username' />
                    </div>

                    <div>
                        Mot de passe:
                    </div>

                    <div>
                        <input type='password' name='password' />
                    </div>

                    <div>
                        <center><input type="submit" style="background:rgb(70, 20, 60); color:white;width:100%;" value="Se connecter"></center>
                    </div>
                </div>
            </form>

        </fieldset>
        Besoin d'un compte? <a href="{% url 'signup' %}" style="color:darkblue;font-weight:700;">Inscrivez-vous</a>


    </center>


</section>

{% endblock %}