{% extends 'base_template.html' %}

{% block title %} Modification du mot de passe {% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if msm %}
<span>{{msm}}</span>
{% endif %}

<h2>Modifiez votre mot de passe </h2>

<fieldset class='modify-form'>
    <form enctype="multipart/form-data" method="POST" action="{% url 'password-change' %}">

        {% csrf_token %}

        <div class="modify-form-div">
            {% for error in form.non_field_errors %}
            <div style="color:red;">
                {{error}}
            </div>
            {% endfor %}

            {% for field in form %}
            <div>{{field.label}}</div>
            <div>
                {{field}}
            </div>



            {% if field.errors %}
            <div style="color:red;">
                {{field.errors}}
            </div>
            {% endif %}

            {% endfor %}


            <div>

            </div>

            <button type="submit" class="save-btn"> Changer le mot de passe </button>
        </div>
    </form>

</fieldset>
{% endif %}

<br>
{% if not user.is_authenticated %}

<h3> Vous devez vous connecter pour pouvoir modifier votre compte! </h3>

{% endif %}


{% endblock %}