{% extends 'base_template.html' %}

{% block title %} Modification du mot de passe {% endblock %}

{% block content %}
<div class="container">

    <div class="settings-div container">

        {% if user.is_authenticated %}

        {% if msm %}
        <span>{{msm}}</span>
        {% endif %}

        <h4>Modifiez votre mot de passe </h4>

        <fieldset>
            <form enctype="multipart/form-data" method="POST"
                action="{% url 'password-change' %}">

                {% csrf_token %}

                <div class="settings-password-div">
                    {% for error in form.non_field_errors %}
                    <div class="text-danger">
                        {{error}}
                    </div>
                    {% endfor %}

                    {% for field in form %}
                    <div>{{field.label}}</div>
                    <div>
                        {{field}}
                    </div>

                    {% if field.errors %}
                    <div class="text-danger">
                        {{field.errors}}
                    </div>
                    {% endif %}

                    {% endfor %}

                    <div>

                    </div> <br>

                    <button type="submit" class="btn btn-primary w-100"> Changer
                        le mot de passe </button>
                </div>
            </form>

        </fieldset>
        {% endif %}

        <br>
        {% if not user.is_authenticated %}

        <h3> Vous devez vous <a href="{% url 'login' %}">connecter</a> pour
            pouvoir modifier votre compte! </h3>

        {% endif %}

    </div>
</div>
{% endblock %}