{% extends 'base_template.html' %}

{% block title %} Modifications {% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if msm %}
<span>{{msm}}</span>
{% endif %}

<h2>Modifiez votre compte </h2>

<fieldset class='modify-form'>
  <form enctype="multipart/form-data" method="POST" action="{% url 'settings' %}">

    {% csrf_token %}

    <div class="modify-form-div">


      <div>
        Nom d'utilisateur:
      </div>

      <div>
        <input name="username" type="text" value="{{user.username}}" />
      </div>
 <br>

      <div>
        Prénom:
      </div>

      <div>
        <input name="first_name" type="text" value="{{user.first_name}}" />
      </div>
 <br>

      <div>
        nom:
      </div>

      <div>
        <input name="last_name" type="text" value="{{user.last_name}}" />
      </div>
 <br>

      <div>
        Email:
      </div>

      <div>
        <input name="email" type="email" value="{{user.email}}" />
      </div>

 <br>

      <div>
        changer photo de profil:
      </div>

      <div>
        <img src="{{ user.photo.url }}" width="50"
        height="50" />
        {{form.photo}}

      </div>


    </div>

    <button type="submit" class="save-btn"> Enregistrer </button>


  </form>

</fieldset>
<br>


<a href="{% url 'password-change' %}">Changer le mot de passe</a>
{% endif %}

<br>

{% if not user.is_authenticated %}

<h3> Vous devez vous <a href="{% url 'login' %}"> connecter </a> pour pouvoir modifier votre compte! </h3>

{% endif %}


{% endblock %}