{% extends 'base_template.html'%}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}

{% if article %}

  <div class="details">

   {% autoescape off %}

    <div style="background:white;">

        <span style="color:gray;font-size:13px;">Mis à jour le {{ article.updated_on}} UTC</span><br>

      <h1>{{ article.title }}</h1>

      <p><i> Par <b> {{ article.author.first_name }} {{ article.author.last_name }}</b> </i> </p>

    {% if user.id == article.author.id %}

     <b><a href="{% url 'update-article' article.slug %}"> Editer cet article </a></b> <br>

     {% endif %}

        <img src="{{ article.photo.url }}" alt="image" />
        <p>
            {{ article.content }}
        </p>
        <span style="color:gray;font-size:13px;"> créé le {{ article.pub_date}} UTC</span><br><br>

    </div>
    <br>
    <hr>

    Laissez un commentaire
    <!--- debut comment form -->
    <form action="{% url 'comment' %}" method="POST">
        {% csrf_token %}

        <input name="article_slug" type="hidden" value="{{article.slug}}" />

        <div class="comment-div-textarea">
            <textarea required name="content" cols="100" rows="20"></textarea> <br>

          <button type="submit">Envoyer</button> <br>

        </div>


    </form>
    <!-- fin comment form -->

    <!-- les commentaires -->
    <div>
        <br>
        <b>{% if comments %}{{comments_number}}{% else %} 0 {% endif %} Commentaire(s)</b><br><br>

        {% for comment in comments %}
        <div class="comments-block">
            {%if comment.writer.is_superuser %}

          <b><img src="{{ comment.writer.photo.url }}" style="width:40px;height:40px;" /><span class="comment-prenom">{{comment.writer.first_name}} <span style="color:white;padding:5px;font-size:12px;background-color:darkgreen;">Auteur</span></span></b>         <p>
                {{comment.comment_content}}
            </p>
            <span style="color:gray;font-size:13px;">{{comment.post_date}} UTC</span><br><br>

            {% else %}

          <b><img src="{{ comment.writer.photo.url }}" style="width:40px;height:40px;"/> <span class="comment-prenom">{{comment.writer.first_name}}</span></b>
            <p>
                {{comment.comment_content}}
            </p>
            <span style="color:gray;font-size:13px;">{{comment.post_date}} UTC</span><br><br>

            {% endif %}

            <a href="{% url 'reply' comment.comment_token %}"> <button style="margin-left:20px; float:left;color:darkblue;background:lightgray;border:0px solid blue;"> Répondre </button></a>


  <button style="float:right;background-color:lightgray;border:0px solid blue;">
  <a style="text-decoration:none;color:darkblue;" href="{% url 'comment-replies' comment.comment_token %}">{{comment.replies.count}} réponse(s)</a>
          </button>
            <br>

        {% if user.id == article.author.id %}
        <br>
          <a style="color:darkblue;font-weight:bold" href="{% url 'delete-comment' comment.id %}">Supprimer</a>
          {% endif%}

        </div>
        <br>
        {% endfor %}
    </div>
    <br>


{% endautoescape %}

</div>


{% endif %}


{% if not article %}

<a href="{% url 'articles' %}">Voir nos articles</a>

{% endif %}




{% endblock %}