{% extends 'base_template.html'%}

{% block title %} Réponses {% endblock %}

{% block content %}

<section class="container">

    <div class="replies-div">
        {% if authen %}
        <b>{{authen}}</b>
        {% endif %}
        <div class="comment-div">
            <a href="#!">

            <b>
              <img class="user-image" src="{{comment.writer.photo.url }}" />
              <span>{{comment.writer.first_name}} {{comment.writer.last_name}}
              </span>
            </b>
            </a>
            <br>
            {{comment.comment_content}}
        </div>
         <br>
        <b>Réponses</b><br>
        {% if replies %}


        {% for reply in replies %}

        {%if reply.writer.id == comment.commented_article.author.id %}

        <div class="reply">
            <a href="#!">
            <b>
                <img class="user-image" src="{{ reply.writer.photo.url }}" />
                <span class="replier-first_name">
                    {{reply.writer.first_name}} {{ reply.writer.last_name }}
                 <span class="badge-success"> Auteur</span></span>
            </b>
            </a>
            <br><br>
            {% autoescape off %}

            <p>
               {{reply.comment_content}}
            </p>
            <br>
            <span class="date">{{reply.post_date}} GMT</span>

            {% endautoescape %}

        </div><br>
        {% else %}

        <div class="reply">
            <a href="#!">
            <b>
                <img class="user-image" src="{{ reply.writer.photo.url }}"/>
                <span class="replier-prenom">
                    {{reply.writer.first_name}} {{reply.writer.last_name}}
                </span>
            </b>
            </a>
            <br><br>

            {% autoescape off %}

            {{reply.comment_content}}
            <br> <span class="date">{{reply.post_date}} UTC </span>

            {% endautoescape %}

        </div><br>

        {% endif %}


        {% endfor %}


       {% else %}

        Aucune réponse!

        {% endif %}


        <!-- reply form -->

        <div class="replyform">

            <b>Répondre</b>


            <form id="relyform" action="{% url 'replying' %}" method="POST">

                {% csrf_token %}


                <input type="hidden" name="token" value="{{comment.token}}" />

                <div>
                    <textarea id="reply-textarea" cols="20" class="form-control" rows="4" name="reply_content" required ></textarea>

                    <br>

                    <button class="btn btn-primary" type="submit">Envoyer</button>

                </div>

            </form>


        </div>



    </div>

</section>

{% endblock %}