{% extends 'base_template.html'%}

{% block title %} Réponses {% endblock %}

{% block content %}



    <div class="replies-div">
        {% if authen %}
        <b style="color:violet;">{{authen}}</b>
        {% endif %}
        <div style="text-align:left;" class="comments-block">
            <b><img src="{{ comment.writer.photo.url }}" style="width:40px;height:40px;" /> <span class="comment-prenom2">{{comment.writer.first_name}}</span></b>
            <br>
            {{comment.comment_content}}
        </div>

        <b style="float:left;">Réponses</b><br><br>
        {% if replies %}


        {% for reply in replies %}

        {%if reply.writer.id == 1 %}

        <div class="reply">

            <b><img src="{{ reply.writer.photo.url }}" style="width:40px;height:40px;" /> <span class="replier-prenom">{{reply.writer.first_name}} <span style="color:white;font-size:12px;padding:3px;background-color:darkgreen;"> Auteur</span></span></b><br><br>

            {% autoescape off %}

            {{reply.comment_content}}<br>

          <br><span style="color:gray;font-size:13px;">{{reply.post_date}} UTC </span>

            {% endautoescape %}

          <br>

          {% if user.id == 1 %}
          <br>
          <a style="color:darkblue;font-weight:bold;" href="{% url 'delete-reply' reply.id %}">Supprimer</a>
          {% endif %}

        </div>
        {% endif %}

        {% if reply.writer.id != 1 %}

        <div class="reply">
            <b><img src="{{ reply.writer.photo.url }}" style="width:40px;height:40px;" /> <span class="replier-prenom">{{reply.writer.first_name}}</span></b><br><br>

            {% autoescape off %}

            {{reply.comment_content}}<br>

            <br> <span style="color:gray;font-size:13px;">{{reply.post_date}} UTC </span>

            {% endautoescape %}


            <br>

          {% if user.id == 1 %}
          <br>
          <a  style="color:darkblue;font-weight:bold;" href="{% url 'delete-reply' reply.id %}">Supprimer</a>
          {% endif %}

        </div>

        {% endif %}


     {% endfor %}

    {% endif %}



        {% if not replies %}

        Aucune réponse!

        {% endif %}


        <!-- reply form -->

        <div class="replyform">

            <b>Répondre</b>


            <form id="relyform" action="{% url 'replying' %}" method="POST">

                {% csrf_token %}

                <input type="hidden" name="comment_id" value="{{comment.id}}" />

                <div>
                    <textarea cols="20", rows="10" name="reply_content" required > </textarea>

                    <br>

                    <button type="submit">Envoyer</button>

                </div>

            </form>


        </div>



    </div>



{% endblock %}