{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block titre %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <link rel="stylesheet" href="{% static 'learning/main1.css' %}" type="text/css" />
     <link rel="stylesheet" href="{% static 'learning/main.css' %}" type="text/css" />




 <!--  javaScrit start -->

    <script>
        //afficher le menu


 document.addEventListener('DOMContentLoaded', function (){


  if (window.innerWidth >= 900) {

        document.querySelector('#menu').style.display = 'block';

    } else {

        document.querySelector('#menu').style.display = 'none';
    }



 let a = 0;

            document.querySelector('#menu-button').onclick = function () {


                document.querySelector('#menu').style.display = 'block';



         document.querySelector('#menu-button').style.display = 'block';

              a = 1;

            }

       document.querySelector('#menu-button').onclick = function() {

         if (a==1){

          document.querySelector('#menu').style.display = 'none';

             a = 0
         }
         else{

           document.querySelector('#menu').style.display = 'block';
        a = 1
         }

       }

        })

    </script>


    <!-- javaScript end -->



</head>
<body>

    <div id="conteneur">
        <center>
            <header>

              <div id="logo">
	<a href = "{% url 'home' %}" id = "logo-link">

	     <div style = "border-top:3px solid rgb(70, 20, 60); border-bottom:3px solid rgb(70, 20, 60);background:white;border-radius:10px;font-family:Arial;">

	 <span style = "font-weight:500;color:black">ML<span style="color:rgb(70, 20, 60);color:rgb(70, 20, 60);">G</span> </span>

</div>
</a>
<a href="{% url 'home' %}">
  <span  class="mlg-meaning">Modern Learning Group</span></a>

              </div>

              <nav>



<button id="menu-button"><hr><hr><hr></button>

            </nav>

{% include '_menu.html' %}

            </header>

<div class="search">

    <div class="intro-mlg">
    <h3> Développez vos compétences!</h3>  </div>



    {% if user.cart %}
     <div style="background:white;border-radius:50px;width:50%;">

      <a style="text-decoration:none;color:darkgreen;font-weight:bold;" href="{% url 'cart' %}">Voir le panier ({{ user.cart.orders.count}})</a>

     </div>
      {% endif %}

      {% if login_msg %}
       <div style="background:white;font-size:18px;border-radius:50px;width:50%;">

         {{user.first_name}}, tu es connecté(e)...

        </div>
      {% endif %}
 </div>

        <section>
       {% block content %}


          {% endblock %}

</section>
{% block edition %} {% endblock %}

          {% block aside %} {% endblock %}




          <footer>

        <br>
            {% if user.is_authenticated %}
<a href="{% url 'logout' %}">Déconnexion</a>
{% endif %}
{% if not user.is_authenticated %}
<a href="{% url 'login' %}">Connexion</a>
{% endif %}
            <br>
            <br>
            <br>

<a href="{% url 'settings' %}">Paramètres</a>
<br>

           {% include 'footer_links.html' %}


<br>

<a href="#!">Conditions d'utilisation </a> <br>

<br>

© MLG

          </footer>
        </center>

    </div>




</body>
</html>