{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block titre %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
     <link rel="stylesheet" href="{% static 'learning/main1.css' %}" type="text/css" />
     <link rel="stylesheet" href="{% static 'learning/main.css' %}" type="text/css" />




 <!--  javaScrit start -->

<script>
//afficher/ cacher le menu
document.addEventListener('DOMContentLoaded', function () {

    if (window.innerWidth >= 900) {

        document.querySelector('#menu').style.display = 'block';

    } else {

        document.querySelector('#menu').style.display = 'none';
    }


    let a = 0;

    document.querySelector('#menu-button').onclick = function() {

        if (a == 1) {
            document.querySelector('#menu').style.display = 'none';
            document.querySelector("#menuImage").style.display = "block";
            document.querySelector("#closeImage").style.display = "none";
            a = 0;

        } else {
            document.querySelector('#menu').style.display = 'block';
            document.querySelector("#menuImage").style.display = "none";
            document.querySelector("#closeImage").style.display = "block";
            a = 1;
        }

    }


  // preview pre-uploaded profile image
   const fileinput = document.querySelector("#id_photo");
   const profilePhoto = document.querySelector("#profile-picture");

   fileinput.onchange = function(){
       const [file] = fileinput.files;
       if (file) {
           profilePhoto.src = URL.createObjectURL(file)

       }
   }

})

    </script>


    <!-- javaScript end -->



</head>
<body>

    <div id="conteneur">
        <center>

      <header class="row">
                  <div class="col-4" id="logo">
                    <a href="{% url 'home' %}" id="logo-link">
                        <div style="background-color:white;border:3px solid rgb(70, 20, 60);border-left:0px solid blue; border-right:0px solid blue;border-radius:10px 10px 10px 10px;">
                        	<span style="font-size:25px; font-weight:500;color:black">ML<span style="color:rgb(70, 20, 60);color:rgb(70, 20, 60);font-size:25px;">G</span> </span>
                        </div>
                    </a>
                    <a href="{% url 'home' %}">
                        <span class="mlg-meaning">Modern Learning Ground</span></a>
                </div>
                <nav class="col-8">
                    <button id="menu-button">
                        <img id="menuImage" height="40" src="{% static 'learning/icons/svg/menu_FILL0.svg' %}" />
                        <img id="closeImage" height="40" src="{% static 'learning/icons/svg/close_FILL0.svg' %}" />
                    </button>
                </nav>
                {% include '_menu.html' %}
            </header>


<div class="search">

    <div class="intro-mlg">
    <h3> Développez vos compétences!</h3>  </div>



    {% if user.cart %}
     <div style="background:white;border-radius:50px;width:50%;">

      <a style="text-decoration:none;color:darkgreen;font-weight:bold;" href="{% url 'cart' %}">Voir le panier ({{ user.cart.orders.count}})</a>

     </div>
      {% endif %}

      {% if login_msg %}
       <div style="background:white;font-size:18px;border-radius:50px;width:50%;">

         {{user.first_name}}, tu es connecté(e)...

        </div>
      {% endif %}
 </div>

        <section>
       {% block content %}


          {% endblock %}

</section>
{% block edition %} {% endblock %}

          {% block aside %} {% endblock %}




          <footer>

        <br>
            {% if user.is_authenticated %}
<a href="{% url 'logout' %}">Déconnexion</a>
{% endif %}
{% if not user.is_authenticated %}
<a href="{% url 'login' %}">Connexion</a>
{% endif %}
            <br>
            <br>
            <br>

<a href="{% url 'settings' %}">Paramètres</a>
<br>

           {% include 'footer_links.html' %}


<br>

<a href="#!">Conditions d'utilisation </a> <br>

<br>

© MLG

          </footer>
        </center>

    </div>




</body>
</html>