{% extends 'base_template.html' %}

{% block title %} Computer Science {% endblock %}
{% block content %}

<section>

    <h1>Programmation informatique</h1>

    <div class="maths-div">

        {% if lessons %}

        <ul>

            {% for lesson in lessons %}

            <li><b><a href="{% url 'cslesson-details' lesson.slug %}">{{lesson.title}}</a></b></li>

            {% endfor %}

        </ul>

        {% endif %}

        <hr>

        <b> VIDEOS</b>

        {% if videolessons %}

        {% for videolesson in videolessons %}
         <div style="border:2px solid rgb(70, 20, 60);width:65%;text-align:center;margin-bottom:20px;">

            <video src="{{ videolesson.video_file.url }}" controls="controls" width="100%"></video>

            <br><b> {{ videolesson.title }}</b>
        </div>
        {% endfor %}

        {% endif %}
    </div>


    <a href="{% url 'cours' %}">Retour</a>

<br>
<hr>
<b> Articles récents </b>

{% if articles %}

<div class="nosarticles">

        {% for chaquearticle in articles %}

        {% autoescape off %}

        <div class="article">
            <div>
                <img src="{{chaquearticle.photo.url }}" alt="photo" />
            </div>

            <span class="categorie">{{chaquearticle.categorie}}</span><br>

            <a href="{% url 'article-details' chaquearticle.slug %}"><b>{{chaquearticle.title}}</b><br> {{ chaquearticle.content|truncatewords:15 }}</a>
        </div>
        {% endautoescape %}
        {% endfor %}

    </div> <a href="{% url 'articles-maths' %}"> Voir plus d'articles en rapport avec les Maths </a>

{% endif %}

</section>

{% endblock %}
