        {% extends 'base_template.html'%}

        {% block title %} Edition Leçon {% endblock %}

        {% block content %}

                <div class="edition details">


                <div  class="article-form">




                    <form enctype="multipart/form-data" method="POST">

                        {% csrf_token %}

                     {% if form %}
                 {{ form.media }}


                        <div>
                            Titre
                        </div>

                        <div>
                            {{form.title}}
                        </div>
                        <br>

                        <div>
                          {{ form.topic }}
                        </div>
                        <br>

                        <div>
                            Catégorie:
                        </div>
                        <div>
                            {{form.categorie}}
                        </div>
                        <br>

                        <div>
                          Auteur:<br/> {{ form.author }}
                        </div>
                        <br/>

                        <div>
                           body:
                        </div>

                        <div>
                            {{form.content}}
                        </div>
                         <br>

                      <div>
                        Ajouter une image:<br>
                        {{ form.photo }}
                      </div>
                      <br>

                         <div>

                       Publié: {{ form.published }}

                         </div>

                        <br>




                     <br/> <button type="submit"> Enregistrer </button>

                      {%  endif %}
                    </form>


                </div>

            </div>



        {% endblock %}


        {% block aside %}
        <aside></aside>

        {% endblock %}

