{% extends 'base_template.html'%}

{% block title %} Cours {% endblock %}
{% block content %}


    <h1>Cours organisés </h1>
    <div class="cours-div">

        <ul style="list-style-image: url('/media/images/puces_rubrique.png');">
            <li><h3><a href="{% url 'english-lessons' %}">Anglais | English </a></h3></li><br>
            <li><h3><a href="{% url 'maths-lessons' %}">Mathématiques | Mathematics</a></h3></li><br>
            <li><h3><a href="{% url 'cs-lessons' %}">Computer Science (Programming)</a></h3></li><br>
            <!-- <li><h3><a href="{% url 'geoscience-lessons' %}"> Géosciences</a> </h3></li> -->
        </ul>
     <div style="background-color:lightyellow;color:black;"><span> C'est pour bientôt!</span></div>
    </div>


{% endblock %}



{% block aside %} {% endblock %}